body {
    position: relative;
    height: 120vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Pseudo-element for background image with opacity */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/teachingUK3.png');
    background-color: #4a4545;
    background-repeat: no-repeat;
    background-size: 68.5%;
    background-position: 300px -50px;
    opacity: 0.8; /* Change opacity value here */
    z-index: -1; /* Ensure the image is behind the content */
}

.container {
    position: relative;
    z-index: 1; /* Keeps content above the background */
    width: 100%;
    height: 100%;
    border: 10px rgb(34, 25, 25) solid;
    border-radius: 15px;;
}

.top-25 {
    margin-top: 25px;
}

.top-50 {
    margin-top: 50px;
}

.top-100 {
    margin-top: 100px;
}

.top-150 {
    margin-top: 150px;
}

.top-200 {
    margin-top: 200px;
}

.pd-50 {
    padding: 50px;
}

.bottom-25 {
    margin-bottom: 25px;
}

.bottom-50 {
    margin-bottom: 50px;
}

.pdt-50 {
    padding-top: 50px;
}

/* Custom Navbar Styles */
.navbar {
    padding: 20px;
    background-color: transparent !important;
    position: relative;
    z-index: 2;
}

.navbar-brand {
    font-weight: bold;
    font-size: 3.5rem;
    margin-left: 20px;
    color: '#fff' !important;
    background-color:#27504c !important;
    position: relative;
    z-index: 2;
    border: 2px #333 solid;
    border-radius: 10px;
    padding: 5px;
    /* background: linear-gradient(90deg, #00247D 33%, #FFFFFF 33%, #FFFFFF 66%, #CF142B 66%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent; */
}

.navbar-nav .nav-link {
    font-weight: bold;
    margin-right: 20px;
    color: white;
}

.navbar-nav .nav-link:visited {
    font-weight: bold;
    margin-right: 20px;
    color: white;
}

.navbar-nav .nav-link:hover {
    color: #555; /* Adjust hover effect if needed */
}

.content {
    text-align: left;
    padding-left: 50px;
    width: 100%;
}

.content .form-group {
    margin-top: 10px;
}

.quote-box {
    color: #333;
}

.quote-box h2 {
    font-weight: bold;
}

.quote-box .highlight {
    font-weight: bolder;
}

.quote-box p {
    font-style: italic;
    font-size: 1.5rem;
}

.quote-author {
    margin-top: 10px;
    font-size: 14px;
    color: gray;
}

.list-requirements ul {
    font-size: 24px;
    padding-top:10px;
}

.list-requirements ul li {
    list-style: decimal;
    margin-top: 10px;
}


h1 {
    font-size: 36px;
    text-decoration: underline;
    margin-bottom: 20px;
}

.table {
    width: 95%;
    border: 1px rgb(34, 25, 25) solid;
    border-radius: 15px;;
    background-color: #f9f9f9;
    padding: 40px 20px 30px 20px;
}


.table input, .table textarea {
    width: 100%;
}

.note {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
    font-size: 18px;
    background-color: #f9f9f9;
    display: inline-block;
    margin-bottom: 50px;
    width: 96%;
}

.btn{
    width: 250px;
    height: 50px;
}

.center {
    text-align: center;
}

.header a {
    color: black !important;
}


/* Media queries for responsiveness */
@media (max-width: 1900px) {
    body {
        position: relative;
        margin: 0;
        font-family: Arial, sans-serif;
    }
    body::before {
        background-size: 76%; /* Increase the size of the background image */
        background-position: center top; /* Center the image on smaller screens */
    }
}
@media (max-width: 1500px) {
    body::before {
        background-size: 88%; /* Increase the size of the background image */
        background-position: center top; /* Center the image on smaller screens */
    }
}
@media (max-width: 1200px) {
    body::before {
        background-size: cover; /* Ensure the image covers the entire screen */
        background-position: 100%; /* Center the image */
        opacity: 0.2;
        height: 200vh;
    }
    .container {
        border: 0;
    }
    .quote-box {
        color: black;
        line-height: 2;
    }
    .container-fluid {
        x-border: 2px red solid;
    }
    .navbar .navbar-brand {
        font-size: 40px;
        display: block;
        float: left;
        margin: 0;
    }
    .navbar .navbar-brand span {
        padding: 40px !important;
    }
    .content {
        margin-top: 0;
    }
    .top-100 {
        margin-top: 0;
    }

    .alignRight{
        text-align: unset;
    }
}

@media (max-width: 768px) {
    body::before {
        background-size: cover; /* Ensure the image covers the entire screen */
        background-position: 100%; /* Center the image */
        opacity: 0.2;
    }
    .container {
        border: 0;
    }
    .quote-box {
        color: black;
        line-height: 2;
    }
    .container-fluid {
        x-border: 2px red solid;
    }
    .navbar .navbar-brand {
        font-size: 30px;
        display: block;
        float: left;
        margin: 0;
    }
    .navbar .navbar-brand span {
        padding: 40px !important;
    }
    .content {
        margin-top: 0;
        padding-left: 0;
    }
    .top-100 {
        margin-top: 0;
    }

    .alignRight{
        text-align: unset;
    }
}

@media (max-width: 480px) {
    body::before {
        background-size: cover; /* Ensure the image covers the entire screen */
        background-position: 100%; /* Center the image */
        opacity: 0.2;
        height: 180vh;
    }
    .container {
        border: 0;
    }
    .quote-box {
        color: black;
        line-height: 2;
    }
    .container-fluid {
        x-border: 2px red solid;
    }
    .navbar .navbar-brand {
        font-size: 20px;
        display: block;
        float: left;
        margin: 0;
    }
    .navbar .navbar-brand span {
        padding: 40px !important;
    }
    .content {
        margin-top: 0;
        padding-left: 0;
    }
    .top-100 {
        margin-top: 0;
    }

    .alignRight{
        text-align: unset;
    }
}